/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* end of reset */

@font-face {
  font-family: Roboto;
  src: url('./font/Roboto-Regular.woff2') format('woff2'),
      url('./Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-content-gaps: 10px;
  --main-content-background: #e2e8f0;
  --content-card-background: #000000;
  --sidebar-background: #1992d4;
  --cat-background: #facc15;
  font-family: Roboto, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* sidebar styles */
.sidebar {
  background-color: var(--sidebar-background);
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 3fr;
  justify-content: baseline;
  gap: 50px;
  color: white;
  padding: var(--main-content-gaps);
}

.branding {
  display: grid;
  align-items: center;
  grid-template-columns: 60px 1fr;
  gap: var(--main-content-background);
}

.branding img {
  filter: invert(100%);
  height: auto;
  justify-self: start;
  /* width: 60px; */
}

ul {
  list-style-type: none; 
  padding: 0; 
  font-size: 1rem;
}

.navigation {
  margin-top: -40px;
}

li {
  margin-top: 10px;
  font-weight: 700;
  /* display: flex; */
  display: grid;
  grid-template-columns: 60px 1fr;
  /* align-items: center; */
  gap: 10px;
}

.navigation img,
.help img {
  filter: invert(100%);
  height: auto;
  width: 20px;
  justify-self: end;
}

/* header styles */
.header {
  background-color: gray;
  grid-area: 1 / 2 / 2 / 3; /* not necessary */
  display: grid;
  grid-template: repeat(2, 1fr) / 3fr 2fr;
  align-items: center;
  padding: 15px 30px;
}

input[type='search'] {
  appearance: none;
  height: 30px;
  width: clamp(400px, 90%, 600px);
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
  outline: none;
  background-color: var(--main-content-background);
}

input[type="search"]:not(:focus, :active)::-webkit-search-cancel-button {
  display: none;
}

input[type="search"]:hover,
input[type="search"]:focus-visible, 
input[type="search"]:active {
  border: 1px solid blue;
}

.profile {
  display: grid;
  grid-template-columns: repeat(2, 50px) 150px;
  gap: 30px;
  align-items: center;
  justify-content: end;
  justify-items: center;
}

.profile img:last-of-type {
  background: var(--cat-background);
  border-radius: 50%;
  height: auto;
  padding: 5px;
}

.profile img:first-of-type {
  height: auto;
  min-width: 20px;
  max-width: 20px;
}

.profile > span {
  font-weight: 700;
}

.greeting {
  display: grid;
  grid-template: 1fr 1fr / 1fr 8fr;
  column-gap: 15px;
}

.greeting img {
  grid-area: 1 / 1 / 3 / 2;
  height: auto;
  width: 60px;
  background: var(--cat-background);
  padding: 10px;
  border-radius: 50% ;
}

.greeting h2 {
  font-size: 1rem;
}

.greeting > span {
  font-size: 0.7rem;
  font-weight: 600;
  align-self: end;
}

.search {
  display: flex;
  gap: var(--main-content-gaps);
  align-items: center;
}

.search img {
  height: auto;
  width: 25px;  
}

.create > button {
  background-color: var(--sidebar-background);
  padding: 10px 25px;
  /* text-align: center; */
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  font-size: 0.8rem;
}

.create {
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 40px;
}

/* content styles*/
.main-content {
  background-color: var(--main-content-background);
  padding: 15px;
  grid-area: 2 / 2 / 3 / 3; /* also not necessary */
  display: grid;
  grid-template: repeat(2, minmax(0, 1fr)) / 3fr minmax(220px, 1fr); /* todo testing this*/
  grid-auto-rows: minmax(0, 1fr);
  gap: 15px;
}

.main-content h2 {
  font-size: 1.1rem;
  align-self: end;
}

.projects {
  grid-area: 1 / 1 / 3 / 2;
  display: grid; /* Removing this property*/
  grid-template: 35px 10fr / 1fr; /* and this causes a grid blowout (cards exceed projects area)*/ 
  /* keeping it causes the behavior that i want, making the container grow and the body scroll */
  padding: var(--main-content-gaps);
}

.card-container {
  height: 100%;
  display: grid;
  grid-template: repeat(3, minmax(100px, 1fr)) / repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--main-content-gaps);
  grid-auto-rows: minmax(150px, 1fr);
}

.card {
  display: grid;
  background-color: var(--content-card-background);
  border-left: 8px solid #f0b429;
  padding: 20px;
  font-size: 0.8rem;
}

.card h3 {
  font-size: 1rem;
}

.card-images {
  display: flex;
  gap: 30px;
  justify-self: end;
}

.card-images img {
  /* filter: invert(100%); */
  height: auto;
  width: 20px;
}

.announcements {
  display: grid;
  grid-template: 35px 1fr / 1fr;
  padding: var(--main-content-gaps);
}

.notice-container {
  display: grid;
  grid-template-rows: repeat(3, minmax(0, 1fr));
  height: 300px;
  padding: var(--main-content-gaps);
  /* padding: 30px; */
}

.notice {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
} 

.notice:nth-child(2) {
  border-top: 2px solid #f3f3f3;
  border-bottom: 2px solid #f3f3f3; 
}

.announcements h3 {
  font-size: 0.9rem;
}

.trending {
  display: grid;
  grid-template: 35px 1fr / 1fr;
  padding: var(--main-content-gaps);
}

.topic-container {
  display: grid;
  grid-template-rows: repeat(4, minmax(0, 1fr)); /* todo */
  padding: var(--main-content-gaps);
  height: 250px;
}

.topic {
  font-size: 0.9rem;
  display: grid;
  grid-template: repeat(2, 1fr) / 1fr 3fr;
}

.topic p:first-of-type {
  font-weight: 500;
  align-self: end;
}

.topic p:last-of-type {
  align-self: start;
  grid-area: 2 / 2 / 3 / 3;
  color: #5d5d5d
}

.topic img {
  align-self: center;
  justify-self: center;
  grid-area: 1 / 1 / 3 / 2;
  box-sizing: revert;
  height: auto;
  width: 20px;
  padding: 10px;  
  background-color: yellow;
  border-radius: 50%;
}

.topic:nth-child(2) img {
  background-color: orange;
}

.topic:nth-child(3) img {
  background-color: pink;
}

.topic:nth-child(4) img {
  background-color: turquoise;
}

.card,
.notice-container,
.topic-container,
.header {
  background-color: #fff;
  border-radius: 10px;
}


.projects,
.announcements,
.trending {
  background-color: none;
  gap: 10px;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 9fr;
  grid-template-columns: minmax(150px, 1fr) 4fr;
}