/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* end of reset */

@font-face {
  font-family: Roboto;
  src: url('./font/Roboto-Regular.woff2') format('woff2'),
      url('./Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-content-gaps: 10px;
  --main-content-background: #e2e8f0;
  --content-card-background: #000000;
  font-family: Roboto, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* temporary, for layout visualization */
.sidebar {
  background-color: blue;
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 1fr 3fr 2fr 3fr;
  justify-content: baseline;
  gap: 50px;
  color: white;
  padding: 30px;
}

ul {
  list-style-type: none; 
  padding: 0; 
}

.navigation {
  margin-top: -40px;
}

li {
  margin-top: 10px;
}

.header {
  background-color: gray;
  grid-area: 1 / 2 / 2 / 3; /* not necessary */
  display: grid;
  grid-template: repeat(2, 1fr) / 3fr 1fr;
  align-items: center;
}

input[type='search'] {
  width: 400px;
}

.profile,
.create {
  justify-self: end;
  padding-right: 30px;
}

.search,
.greeting {
  padding-left: 30px;
}

.main-content {
  background-color: var(--main-content-background);
  padding: 15px;
  grid-area: 2 / 2 / 3 / 3; /* also not necessary */
  display: grid;
  grid-template: repeat(2, 1fr) / 3fr 1fr;
  gap: 15px;
}

.projects {
  grid-area: 1 / 1 / 3 / 2;
  display: grid; /* Removing this property*/
  grid-template: 35px 10fr / 1fr; /* and this causes a grid blowout (cards exceed projects area)*/ 
  /* keeping it causes the behavior that i want, making the container grow and the body scroll */
  padding: var(--main-content-gaps);
}

.card-container {
  height: 100%;
  display: grid;
  grid-template: repeat(3, minmax(100px, 1fr)) / repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--main-content-gaps);
  grid-auto-rows: minmax(150px, 1fr);
}

.card {
  background-color: var(--content-card-background);
  border-left: 8px solid #f0b429;
  padding: 20px;
  font-size: 0.8rem;
}

.card h3 {
  font-size: 1rem;
}

.announcements {
  display: grid;
  grid-template: 35px 1fr / 1fr;
  padding: var(--main-content-gaps);
}

.notice-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr) / 1fr;
  /* gap: var(--main-content-gaps); */
  padding: var(--main-content-gaps);
}

.notice-container div:last-child {
  border: none;
}

.notice {
  border-bottom: 2px solid #f3f3f3;
  padding: 20px 10px;
  font-size: 0.7rem;
}

.announcements h3 {
  font-size: 0.9rem;
}

.trending {
  display: grid;
  grid-template: 35px 1fr / 1fr;
  padding: var(--main-content-gaps);
}

.topic-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr) / 1fr;
  gap: var(--main-content-gaps);
  padding: var(--main-content-gaps);
}

.topic {
  padding: 20px 10px;
  font-size: 0.9rem;
}

.card,
.notice-container,
.topic-container {
  background-color: #fff;
  border-radius: 10px;
}


.projects,
.announcements,
.trending {
  background-color: none;
  gap: 10px;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 9fr;
  grid-template-columns: minmax(150px, 1fr) 4fr;
}